<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lh.lhzkc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.DianyuanActivity"></activity>
        <activity android:name=".ui.YinpinActivity" />
        <activity android:name=".ui.LuboActivity" />
        <activity android:name=".ui.JuzhenActivity" />
        <activity android:name=".ui.ShebeiActivity" />
        <activity android:name=".ui.HuanjingActivity" />
        <activity android:name=".ui.ChangjingActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>